*{
    text-align: center;
    font-size: 24px;
}

body{
    font-family:'Times New Roman', Times, serif;
}

li{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    text-align: left;
}

#link-list{
    text-align: left;
    font-size: 38px;
}

h2{
    font-weight: 800;
    color: blue;
    font-size: 36px;
}

.description{
    background-color:yellow;
}